[submodule "md5"]
	path = md5
	url = git@github.com:ulwanski/md5.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "tinydir"]
	path = tinydir
	url = git@github.com:cxong/tinydir.git
